Package: xyz.skitty.sushi
Name: Sushi
Version: 1.0.1
Architecture: iphoneos-arm
Description: Now playing banner with integrated media controls!
Maintainer: Skitty
Author: Skitty
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 13.0)
Icon: https://skitty.xyz/repo/icons/xyz.skitty.sushi.png
Depiction: https://skitty.xyz/repo/depictions/xyz.skitty.sushi/
SileoDepiction: https://skitty.xyz/repo/depictions/xyz.skitty.sushi/sileo.json
