<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Sushi</string>
	<key>subtitle</key>
	<string>By Skitty</string>
	<key>headerColor</key>
	<string>#e36474</string>
	<key>textColor</key>
	<string>#ffffff</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.sushi</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sushi.prefschanged</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>xyz.skitty.sushi</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sushi.prefschanged</string>
			<key>key</key>
			<string>location</string>
			<key>label</key>
			<string>Presentation Location</string>
			<key>validTitles</key>
			<array>
				<string>Top</string>
				<string>Bottom</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SkittyAppListViewController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Blacklisted Applications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Configuration</string>
			<key>footerText</key>
			<string>Display the now playing banner even while inside the application playing the media.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.sushi</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sushi.prefschanged</string>
			<key>key</key>
			<string>enabledInApp</string>
			<key>label</key>
			<string>Show In Now Playing App</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Specify the amount of seconds after which the banner is automatically dismissed.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.sushi</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sushi.prefschanged</string>
			<key>key</key>
			<string>dismissWhenExpanded</string>
			<key>label</key>
			<string>Auto Dismiss When Expanded</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.sushi</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sushi.prefschanged</string>
			<key>key</key>
			<string>customDismissInterval</string>
			<key>label</key>
			<string>Custom Auto Dismiss Interval</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>xyz.skitty.sushi</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sushi.prefschanged</string>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>3</real>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>10</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>9</integer>
			<key>key</key>
			<string>dismissInterval</string>
			<key>requires</key>
			<string>customDismissInterval</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.sushi</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sushi.prefschanged</string>
			<key>key</key>
			<string>darkMode</string>
			<key>label</key>
			<string>Dark Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.sushi</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sushi.prefschanged</string>
			<key>key</key>
			<string>matchSystemTheme</string>
			<key>requires</key>
			<string>darkMode</string>
			<key>label</key>
			<string>Match System Theme</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.sushi</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sushi.prefschanged</string>
			<key>key</key>
			<string>oled</string>
			<key>requires</key>
			<string>darkMode</string>
			<key>label</key>
			<string>OLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.sushi</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sushi.prefschanged</string>
			<key>key</key>
			<string>blurred</string>
			<key>label</key>
			<string>Blur Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>xyz.skitty.sushi</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sushi.prefschanged</string>
			<key>key</key>
			<string>blurThickness</string>
			<key>requires</key>
			<string>blurred</string>
			<key>validTitles</key>
			<array>
				<string>Thin</string>
				<string>Regular</string>
				<string>Thick</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>© Skitty 2021</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SPCreditCell</string>
			<key>label</key>
			<string>Skitty</string>
			<key>twitter</key>
			<string>Skittyblock</string>
			<key>subtitle</key>
			<string>Developer</string>
		</dict>
	</array>
	<key>title</key>
	<string>Sushi</string>
</dict>
</plist>
